body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 2px;
  background-color: #2f3131;
  color: lightgrey;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  background-color: #2f3131;
  background-image: url("/assets/images/skeletonleaves1.jpg");
  align-items: center;
  height: 250px;
}

h1 {
  font-size: 350%;
  padding: 50px 50px 50px 50px;
  height: 175px;
  color: #24353f;
}

h2 {
  margin: 2% 0;
  font-size: 225%;
  color: lightgrey;
  text-decoration: #4b6d61;
  height: 115px;
  padding: 25px;
}

h3 {
  margin: 2% 0;
  font-size: 150%;
  color: lightgrey;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

nav a {
  color: #24353f;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
}

.section {
  display: flex;
  padding: 25px;
  background-color: #4b6d61;
  justify-content: flex-start;
  width: 100%;
}

.titlename {
  background-color: #2f3131;
  color: lightgray;
  padding: 2%;
  width: 25%;
  align-items: top;
}

.right {
  padding: 25px;
  background-color: #2f3131;
  gap: 8px;
  width: 75%;
}

.section p {
  margin: 2% 0;
  font-size: 110%;
}

.section ul {
  display: flex;
  padding: 25px;
  gap: 55px;
  font-size: 90%;
  list-style: none;
}

.section ul li {
  background-color: #4b6d61;
  padding: 25px;
  width: 300px;
  border-radius: 3%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #4b6d61;
  color: lightgrey;
}

@media screen and (max-width: 768px) {
  header,
  .section ul,
  .section {
    flex-direction: column;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 80px;
  }
}
